@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using Microsoft.EntityFrameworkCore.Infrastructure
@model IEnumerable<Mission08_Team0113.Models.Task>

<table class="table table-bordered">
    <thread class="fw-bold">
        <tr>
            @* <td>TaskId</td> *@
            <td>TaskName</td>
            <td>DueDate</td>
            <td>Quadrant</td>
            <td>CategoryName</td>
            <td>Completed</td>
        </tr>
    </thread>

    @foreach (var x in Model)
    {
        <tbody>
            <tr>
                @* <td>@x.TaskId</td> *@
                <td>@x.TaskName</td>
                <td>@x.DueDate</td>
                <td>@x.Quadrant</td>
                <td>@x.CategoryName</td>
                <td>@x.Completed</td>

                <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></td>
                <td> <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete </a></td>
            </tr>

        </tbody>
    }


</table>